{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "semi": 0,
    "space-before-function-paren": 0,
    "react/wrap-multilines": 0,
    "react/jsx-quotes": 0,
    "jsx-quotes": [
      2,
      "prefer-double"
    ],
    "strict": 0,
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "disallowSpacesInAnonymousFunctionExpression": 0
  },
  "plugins": [
    "standard",
    "react"
  ]
}
